<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <CONNECTION_STRING>
        Host=ep-aged-breeze-a8q96ksx-pooler.eastus2.azure.neon.tech;
Port=5432;
Database=neondb;
Username=neondb_owner;
Password=npg_R7bYuUcZte2O;
SSL Mode=Require;
Channel Binding=Require;

      </CONNECTION_STRING>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
